@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/chillax");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$color: #dac5a7;

html,
body {
  width: 100%;
  height: 100%;
  background-color: #0e0e0e;
  color: $color;
  font-family: "Satoshi", sans-serif;
}

main {
  width: 100%;
  position: relative;
}

header {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);

  .navbar {
    width: 87%;
    display: flex;
    padding: 0.2rem 1rem;
    border: 1px solid #37342f;
    background-color: transparent;
    backdrop-filter: blur(15px);
    align-items: center;
    justify-content: space-between;

    .hamburger svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    .logo {
      width: 3rem;
      height: 3rem;
      text-align: start;
      font-size: 1.5rem;
      background-image: url(./assets/logo.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    ul,
    a {
      list-style: none;
      text-decoration: none;
      color: $color;
      text-transform: uppercase;
    }

    .menu {
      display: flex;
      display: none;

      li a {
        font-size: 0.72rem;
        letter-spacing: 0.2px;
        position: relative;
        padding-bottom: 0.2rem;
      }

      li a::before {
        content: "";
        position: absolute;
        height: 0.1rem;
        left: 0;
        width: 0;
        bottom: 0;
        background-color: $color;
        transition: all 1s ease 0.1s;
      }

      li a:hover::before {
        width: 100%;
      }
    }

    .button {
      background-color: $color;
      color: black;
      padding: 0.2rem 0.6rem;
      font-size: 0.8rem;
      margin-left: 5rem;
    }
  }
}

.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3.5rem;

  img {
    width: 80%;
    object-fit: cover;
    font-weight: 300;
  }
  h1 {
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 300;
  }
  p {
    line-height: 1.4;
    text-align: center;
    margin: 0.9rem 0;
    font-size: 1.2rem;
    opacity: 0.7;

    br {
      display: none;
    }
  }
}

.view-2 {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;

  .service {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;

    .arrow {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #181716;
      display: flex;
      border: 1px solid #24211f;
      align-items: center;
      justify-content: center;
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    }

    .arrow svg {
      rotate: 180deg;
      color: $color;
    }
    .arrow:hover {
      background-color: #23211e;
      border: 2px solid #302c29;
    }
    .title {
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 2px;
    }
  }

  .marque {
    display: flex;
    width: 80%;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      width: 50%;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
      background: linear-gradient(to right, #0e0e0e, transparent);
    }
    &::before {
      content: "";
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 10;
      right: 0;
      background: linear-gradient(to left, #0e0e0e, transparent);
    }
  }

  .text {
    display: flex;
    gap: 4rem;
    padding: 0 1.5rem;
    animation: marque 15s linear infinite both;

    p {
      font-size: 2rem;
      font-weight: 300;
    }
  }
}

.view-3 {
  width: 100%;
  margin-top: 3rem;

  .card-container {
    padding: 0.8rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .card {
      width: 100%;
      padding: 1.5rem;
      border: 2px solid #37342f;
      opacity: 0.7;
      .number {
        font-size: 0.8rem;
      }
      .title {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-top: 0.2rem;
      }
      .description {
        margin-top: 0.5rem;
        width: 90%;
        font-size: 1rem;
      }

      .link {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
      }

      .link .arrow {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #2c2925;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
      }

      .link .arrow svg {
        width: 80%;
        fill: $color;
        height: 80%;
        rotate: 43deg;
      }

      .link .arrow:hover {
        box-shadow: 0 0 4px white;
      }
      .link .arrow:hover,
      svg:hover {
        rotate: 47deg;
      }

      .link .title {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
}

.view-4 {
  width: 100%;
  margin-top: 5rem;

  .selected_work {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    gap: 0.5rem;

    .title {
      font-size: 1.6rem;
      letter-spacing: 2px;

      text-transform: capitalize;
    }

    .link-container {
      display: flex;
      align-items: center;
      gap: 1rem;

      .arrow {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #2c2925;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
      }

      .arrow svg {
        width: 80%;
        fill: $color;
        height: 80%;
        rotate: 43deg;
      }

      .arrow:hover {
        box-shadow: 0 0 4px white;
      }
      .arrow:hover,
      svg:hover {
        rotate: 47deg;
      }

      .title {
        font-size: 0.9rem;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .card-container {
    width: 100%;
    display: grid;
    gap: 1rem;
    justify-content: center;
    padding: 0.8rem 1.5rem;

    .card {
      width: 100%;
      position: relative;
      border: 1px solid #37342f;

      img {
        width: 100%;
        height: 100%;
      }

      .card_layer {
        position: absolute;
        display: flex;
        padding: 1rem 1.5rem;
        bottom: 0.8rem;
        width: 90%;
        backdrop-filter: blur(15px);
        left: 50%;
        background-color: transparent;
        transform: translateX(-50%);
        justify-content: space-between;
        border: 1px solid #37342f;
        .left_text {
          font-size: 1rem;
        }
        .right_text {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.view-5 {
  width: 100%;
  margin-top: 5rem;

  .header-overview {
    width: 100%;
    padding: 0.8rem 1.5rem 0 1.5rem;
    text-align: center;

    .heading {
      font-size: 3rem;
      position: relative;
    }
    .heading::before {
      content: "THE PROCESS";
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.8rem;
      text-align: center;
    }

    .description {
      font-size: 1.15rem;
      font-weight: 200;
      br {
        display: block;
      }
    }

    .step-0 {
      width: 100%;
      margin-top: 2rem;

      .track-0 {
        width: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        .arrow {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: #181716;
          display: flex;
          border: 1px solid #6e6a67;
          align-items: center;
          justify-content: center;
          transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
        }

        .arrow svg {
          rotate: 180deg;
          color: $color;
        }
        .arrow:hover {
          background-color: #23211e;
          border: 2px solid #302c29;
        }
        .line {
          width: 1px;
          height: 2rem;
          background-color: #343230;
        }
      }
    }
  }

  .website-overview {
    width: 100%;
    padding: 0 1.5rem;

    .flow {
      display: flex;
      gap: 1rem;
      .content-empty {
        display: none;
      }
      .step-1 {
        .track-1 {
          width: 2rem;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          gap: 1rem;

          .arrow {
            width: 2rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: #181716;
            display: flex;
            border: 1px solid #6e6a67;
            align-items: center;
            justify-content: center;
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
          }

          .arrow svg {
            rotate: 180deg;
            color: $color;
          }
          .arrow:hover {
            background-color: #23211e;
            border: 2px solid #302c29;
          }
          .small-line {
            width: 1px;
            height: 1rem;
            background-color: #343230;
          }
          .large-line {
            width: 1px;
            height: inherit;
            background-color: #343230;
          }
        }
      }

      .content {
        width: 100%;
        height: 100%;
        border: 1px solid #343230;
        padding: 1.5rem;
        margin-bottom: 2rem;
        .card {
          .time {
            padding: 0.5rem 1rem;
            background-color: #37342f57;
            display: inline-block;
            border: 1px solid #343230;
            font-size: 0.8rem;
            border-radius: 0.2rem;
          }

          .small-text {
            margin-top: 1.5rem;
            font-size: 0.9rem;
            color: #867968;
            text-transform: uppercase;
          }
          .title {
            margin-top: 0.4rem;
            font-size: 1.4rem;
            font-weight: 300;
            text-transform: uppercase;
          }

          .description {
            font-size: 0.9rem;
            margin-top: 0.6rem;
            font-weight: 300;
            padding: 0 0.8rem 0 0;
            letter-spacing: 1px;
          }

          ul {
            margin-top: 1.5rem;
            li {
              margin-left: 1rem;
              font-size: 1rem;
              font-weight: 200;
              margin-top: 0.4rem;
            }
          }
        }
      }
    }
  }
}

.view-6 {
  width: 100%;
  margin-top: 7rem;

  .section-heading {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .title {
      line-height: 1;
      font-size: 3.8rem;
    }
    .des {
      margin-top: 1rem;
      letter-spacing: 1px;
      font-weight: 200;
    }
  }

  .testimonials {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    padding: 0.8rem 1.5rem;
    margin-top: 2rem;

    .card {
      border: 1px solid #343230;
      padding: 1.5rem;
      margin-top: 1rem;
      background-color: #181716;

      img {
        width: auto;
        height: 1.5rem;
      }
      .title {
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.3;
      }
      .desc {
        width: 85%;
        margin-top: 1rem;
        font-weight: 200;
      }

      .profile {
        margin-top: 1.5rem;

        display: flex;
        align-items: center;
        gap: 1rem;

        .image {
          img {
            width: auto;
            height: 3.2rem;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .detail {
          display: flex;
          flex-direction: column;

          p:nth-child(1) {
            text-transform: uppercase;
            color: $color;
          }
          p:nth-child(2) {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.view-7 {
  width: 100%;
  margin-top: 3rem;

  .overview {
    padding: 0.8rem 1.5rem;

    .first {
      width: 100%;
      display: flex;
      flex-direction: column;

      .top {
        p {
          text-align: center;
          font-size: 2rem;
          i {
            font-weight: 100;
          }
        }
      }
      .desktop {
        .left,
        .right {
          display: none;
        }

        .down {
          margin-top: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            width: 70%;
          }
        }
      }
    }

    .second {
      margin-top: 1rem;
      .title {
        width: 100%;
        text-align: center;
        font-size: 1.9rem;
        padding: 0 2rem;
        line-height: 1.2;
        i {
          font-size: 1.8rem;
        }
      }

      .desc {
        margin-top: 1rem;
        p {
          padding: 0 2rem;
          text-align: center;
          line-height: 1.4;
          letter-spacing: 0.5px;
          font-weight: 100;
        }
        .social {
          margin-top: 1.6rem;
          display: flex;
          justify-content: center;
          gap: 0.8rem;

          .icon {
            width: fit-content;
            border-radius: 50%;
            background-color: #181716;
            border: 1px solid #343230;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 60%;

              height: 2rem;
            }
          }
        }
      }
    }
  }
}

.view-8 {
  width: 100%;
  margin-top: 8rem;

  .letstalk {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
    border-top: 1px solid #3d3833;
    border-bottom: 1px solid #3d3833;
    background-color: #22201f;

    .marque {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      padding: 0 2rem;

      .text {
        width: 100%;
        display: flex;
        padding: 0 0.5rem;
        overflow: hidden;
        flex-shrink: 0;
        gap: 3rem;
        align-items: center;
        justify-content: space-between;

        p {
          text-transform: uppercase;
          font-size: 0.8rem;
          flex-shrink: 0;

          a {
            text-decoration: none;
            color: $color;
          }
        }
      }
    }
  }
}

.view-9 {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #181716;

  .getintouch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    p,
    a {
      margin-top: 2rem;
    }

    p:nth-child(1) {
      font-size: 1rem;
      text-transform: uppercase;
    }
    .title {
      font-size: 4rem;
      text-align: center;
      line-height: 1;
      margin-top: 1rem;
      font-weight: 100;
    }
    .title-down {
      margin-top: 0.8rem;
      font-style: italic;
      font-size: 3.5rem;
      font-weight: 100;
    }

    .dec {
      width: 95%;
      font-size: 1.2rem;
      text-align: center;
      letter-spacing: 1px;
    }

    .gettouchbtn {
      padding: 0.6rem 1rem;
      background-color: $color;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      justify-content: center;
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;

      .arrow {
        width: 2rem;
        height: auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
        color: black;
        rotate: 45deg;
        justify-content: center;

        margin-left: 0.4rem;
        svg {
          color: black;
        }
      }
      & svg {
        transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
      }

      &:hover svg {
        rotate: 46deg;
      }
    }
  }
}

.view-10 {
  width: 100%;

  .bottom {
    padding: 4rem 1.5rem 6rem 0;
    background-color: #181716;

    .copyright {
      text-align: center;
      padding: 1rem;
      i {
        color: white;
      }
      a {
        color: $color;
        line-height: 2;
      }
    }
  }

  .footer {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #181716;
    .column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 3rem;
      gap: 1rem;

      .logo img {
        width: auto;
        height: 2rem;
      }

      .social {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;

        .icon {
          display: flex;
          gap: 1rem;

          a {
            text-decoration: none;
            color: $color;
            font-size: 1.2rem;
            text-transform: uppercase;
          }
          .circle {
            width: fit-content;
            background-color: #22201e;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid #3c3832;
            img {
              width: 70%;
              height: 2rem;
            }
          }
        }
      }

      .text {
        font-size: 1.7rem;
      }
      p {
        font-size: 1rem;
        text-transform: uppercase;
        color: #897d6a;
      }

      .gettouchbtn {
        padding: 0.6rem 1rem;
        background-color: $color;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        justify-content: center;
        transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;

        .arrow {
          width: 2rem;
          height: auto;
          border-radius: 50%;
          display: flex;
          align-items: center;
          color: black;
          rotate: 45deg;
          justify-content: center;

          margin-left: 0.4rem;
          svg {
            color: black;
          }
        }
        & svg {
          transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
        }

        &:hover svg {
          rotate: 46deg;
        }
      }
    }
  }
}

.available {
  position: fixed;
  bottom: 2.3rem;
  left: 2.3rem;

  a {
    padding: 0.4rem 1rem 0.4rem 1.5rem;
    color: $color;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #3c3933;
    font-size: 0.8rem;
    background-color: #22201e;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 0.3rem;
      height: 0.3rem;
      top: 0.8rem;
      left: 1rem;
      background-color: white;
      border-radius: 50%;
    }
  }
}

.rightonbottom {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    width: 100%;
    display: flex;
    font-weight: 700;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;

    img {
      width: 1rem;
      height: 1rem;
      margin-right: 0.4rem;
    }
  }
}

@keyframes marque {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 1024px) {
  html {
    font-size: clamp(16px, 1vw, 34px);
  }

  header {
    .navbar {
      width: 30%;
      padding: 0.2rem 1rem;
      justify-content: none;
      ul,
      a {
        visibility: visible;
      }

      .hamburger {
        display: none;
      }

      .menu {
        display: flex;
        gap: 15px;

        li {
          display: block;
        }

        li a {
          font-size: 0.72rem;
          letter-spacing: 0.2px;
          position: relative;
          padding-bottom: 0.2rem;
        }

        li a::before {
          content: "";
          position: absolute;
          height: 0.1rem;
          left: 0;
          width: 0;
          bottom: 0;
          background-color: $color;
          transition: all 1s ease 0.1s;
        }

        li a:hover::before {
          width: 100%;
        }
      }
      .button {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
        margin-left: 0;
      }
    }
  }

  .view-1 {
    img {
      width: 28%;
    }
    h1 {
      font-size: 7rem;
      line-height: 1;
    }
    p {
      font-size: 1.5rem;

      br {
        display: block;
      }
    }
  }

  .view-2 {
    .marque {
      width: 60%;
    }
  }

  .view-3 {
    padding: 0 2rem;
    .card-container {
      flex-direction: row;

      .card {
        background-color: #181716;
        padding: 3rem;

        .number {
          font-size: 1rem;
        }
        .title {
          font-size: 1.4rem;
          margin-top: 0.3rem;
        }
        .description {
          width: 100%;
          margin-top: 0.6rem;
          font-size: 1rem;
        }

        .link {
          margin-top: 2rem;
        }
      }
    }
  }

  .view-4 {
    padding: 0 2rem;

    .selected_work {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 4rem;
      .title {
        font-size: 2.5rem;
      }
    }

    .card-container {
      grid-template-columns: auto auto;
      gap: 2rem;
    }
  }

  .view-5 {
    margin-top: 8rem;

    .header-overview {
      .heading {
        font-size: 6rem;
        line-height: 1.2;
      }
      .heading::before {
        font-size: 0.8rem;
      }

      .description {
        font-size: 1.3rem;
        margin-top: 1rem;
        font-weight: 400;

        opacity: 0.6;
        br {
          display: none;
        }
      }

      .step-0 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .website-overview {
      display: flex;
      flex-direction: column;
      padding: 0 4rem;

      .flow {
        display: flex;
        justify-content: center;

        .content-empty {
          display: block;
          width: 100%;
          height: inherit;
          border: 1px solid #0e0e0e;
        }
        .content {
          border: 1px solid #343230;
          padding: 0;
          margin-bottom: 0;
          .card {
            padding: 1.5rem;
          }
        }
      }

      .flow:nth-child(2) {
        flex-direction: row-reverse;
      }

      .flow:nth-child(4) {
        flex-direction: row-reverse;
      }
    }
  }

  .view-6 {
    .section-heading {
      width: 30%;

      .title {
        font-size: 6rem;
      }
    }

    .testimonials {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      gap: 2rem;
      padding: 0.8rem 9rem;

      .card {
        border: 1px solid #343230;
        padding: 3rem;
        margin-top: 0;
        background-color: #181716;

        img {
          height: 1.3rem;
        }
        .title {
          width: 95%;
          font-size: 1.5rem;
          margin-top: 1.5rem;
        }
        .desc {
          width: 92%;
          margin-top: 0.8rem;
          font-weight: 100;
          font-size: 1.1rem;
        }

        .profile {
          margin-top: 1.8rem;
        }
      }
    }
  }

  .view-7 {
    .overview {
      padding: 0;
      .first {
        .top {
          display: none;
        }
        .desktop {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row-reverse;

          margin: 0;
          .left,
          .right {
            display: block;
          }
          .left {
            font-size: 8rem;
            i {
              font-weight: 100;
            }
          }
          .right {
            font-size: 8rem;
            font-style: italic;
            font-weight: 100;
          }

          .down {
            margin-top: 1rem;
            width: 30%;

            img {
              width: 85%;
            }
          }
        }
      }

      .second {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 8rem;
        margin-top: 6rem;
        .title {
          width: 28%;
          font-size: 2.4rem;
          padding: 0 2rem;
          line-height: 1.2;
          i {
            font-size: 2.2rem;
          }
        }

        .desc {
          margin: 0;
          width: 40%;
          padding: 0 4rem;
          p {
            text-align: justify;
            font-size: 1.2rem;
            padding: 0;
          }
          .social {
            margin-top: 1.6rem;
            display: flex;
            justify-content: flex-start;
            gap: 0.8rem;

            .icon {
              width: fit-content;
              border-radius: 50%;
              background-color: #181716;
              border: 1px solid #343230;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 60%;

                height: 2rem;
              }
            }
          }
        }
      }
    }
  }

  .view-8 {
    visibility: visible;
  }

  .view-9 {
    padding-top: 7rem;
    padding-bottom: 7rem;
    .getintouch {
      p,
      a {
        margin-top: 2rem;
      }

      p:nth-child(1) {
        font-size: 0.9rem;
      }
      .title {
        font-size: 8rem;

        margin-top: 1rem;
      }
      .title-down {
        margin-top: 0.8rem;

        font-size: 7rem;
        line-height: 1;
      }

      .dec {
        width: 30%;
        font-size: 1.2rem;
      }
    }
  }

  .view-10 {
    .footer {
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
      gap: 16rem;

      .column {
        padding-top: 0;
      }
    }
  }
}
